<h1>Forgot Password?</h1>

<%= form_with url: password_reset_path do |form| %>
    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "asam@gmail.com" %>
    </div>

    <div class="mb-3">
        <%= form.submit "Reset", class: "btn btn-warning" %>
    </div>
<% end %>